<a href="/movies" id="go-back">Go back</a>

<div id="one-class">

<div>
    <img src='{{movie.image}}' alt="poster {{movie.title}}">
</div>

<div>

    <h3>{{movie.title}}</h3>

    <p>Director: {{movie.director}}</p>

    <p>Stars</p>

    <ul>
        {{#each movie.stars}}
        <li>{{this.stars}}</li>
        {{/each}}
    </ul>

    <p>{{movie.description}}</p>
</div>

</div>



